a.logo {
	background:url("images/logo.png") !important;
	height:80px !important;
	width:330px !important;
}



div.shipping-icon span{
	visibility:hidden;
}
div.shipping-icon {
	background:url("images/shipping-icon.png") no-repeat;
	height:80px;
	position:absolute;
}



h2.product-title {
	font-size:18px !important;
}
h2.product-title > a {
	font-size:14px !important;
	
}

#mce-responses #mce-success-response {
	color:#fff;
}
#mce-responses #mce-error-response {
	color:red;
}

.required.email {
	color: rgb(85, 85, 85);
}

#mc-embedded-subscribe {
	margin-left:0px !important;
}


@media (max-width: 767px) {
	div.shipping-icon {
		display:none;
	}
	a.quick-view-plugin-btn {
		display: none;
	}
	div.html-block {		
		display:none;
	}
}


div.panel-body ul, 
div.panel-body ul li {
	list-style-type:inherit !important;
	margin-left:inherit !important;
}
div.panel-body ul.option-list {
	list-style-type:none !important;
}


div.full-description td,
div.full-description th {
	padding-left:10px !important;	
	text-align:left;	
}

.quick-view-product-details-slide-image img {
	height: auto !important;
}

body {
	background: url('images/background_home.jpg') no-repeat ;
	background-size:cover;
	background-position-x:center;
}
div.navbar,
div.navbar div {
	background: #eee !important;
}

div.container div.panel > div.panel-heading,
div.container div.panel > div.panel-body {
	background-color: #eee !important;
}