a.logo {
	background:url("images/logo.png") !important;
	height:80px !important;
	width:330px !important;
}



div.shipping-icon span{
	visibility:hidden;
}
div.shipping-icon {
	background:url("images/shipping-icon.png") no-repeat;
	height:80px;
	position:absolute;
}



h2.product-title {
	font-size:18px !important;
}
h2.product-title > a {
	font-size:14px !important;
	
}

#mce-responses #mce-success-response {
	color:#fff;
}
#mce-responses #mce-error-response {
	color:red;
}

#mc-embedded-subscribe {
	margin-left:0px !important;
}


@media (max-width: 767px) {
	div.shipping-icon {
		display:none;
	}
	div.html-block {		
		display:none;
	}
}


div.panel-body ul, 
div.panel-body ul li {
	list-style-type:inherit !important;
	margin-left:inherit !important;
}

div.full-description td,
div.full-description th {
	padding-left:10px !important;	
	text-align:left;	
}